.add{
    background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/76557155.jpg?k=0697048d0d0ea5138c9bf6dee5b91a66ab1391c27a25abc8e5d480fd0c173733&o=&hp=1   );
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}